@import "admin-variables";
@import "bootstrap/bootstrap";

body {
  padding-top: 3.5em;
  background: #FFF5F3;
}

.wrap {
  display: flex;
  min-height: calc(100vh - 3em);
}

.sidebar {
  width: 200px;
  /* height: 100%; これがあると縮んでしまう */
  min-height: 100%;
  max-height: 100%;
  background: #333;
  transition: all 0.5s;
}
@media (min-width: 768px) {
  /* PCはデフォルトが表示 */
  .sidebar {
    position: relative;
    left: 0;
  }
  .md-sidebar-hide .sidebar {
    left: -200px;
    margin-right: -200px;
  }
}
@media (max-width: 767px) {
  /* スマホはデフォルトが折りたたみ */
  .sidebar {
    position: absolute;
    left: -200px;
  }
  .sm-sidebar-show .sidebar {
    left: 0;
  }
}

.sidenav-list {
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
}
.sidenav-item {
  margin: 0;
}
.sidenav-link {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #FFF;
}
.sidenav-link:hover {
  background: rgba(255,255,255,0.1);
}

.main {
  padding-top: 2rem;
  transition: width 0.5s;
}
@media (min-width: 768px) {
  .main {
    width: calc(100% - 200px);
  }
  .md-sidebar-hide .main {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main {
    width: 100%;
  }
}

.max-width-sm {
  max-width: 540px;
}

.max-width-md {
  max-width: 720px;
}

.section {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #FFF;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}